body {
  color: white;
  font-family: 'Open Sans light';
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/whitebackground.jpg");
  transition: background-image 1s ease-in-out;
}
.main {
  display: flex;
  min-height: calc(100vh - 96px);
}
.section  {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bulletin  {
  width: 34%;
}
.main .opening {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.main .opening > div {
  max-width: 64%;
}
.main .notifications {
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.84);
}
.main .notifications .notif-icon {
  background: url("../images/notifications.png") center no-repeat;
  width: 60px;
  height: 60px;
}
.main .name {
  font-size: 77px;
  font-family: 'Open Sans regular';
}
.main .sentence {
  font-size: 42px;
}
.bulletin {
  background-color: white;
}
.main .actions {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-top: 15px;
  list-style-type: none;
}
.main .actions > li > a {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-right: 9px;
  padding: 38px 0px 10px 0px;
  border-bottom: 3px solid;
  width: 160px;
  margin-bottom: 10px;
  display: block;
  color: white;
  text-decoration: blink;
}
.main .actions > li > a > img {
  width: 50px;
  height: 50px;
}
.main .actions > li div {
  margin-top: 10px;
  font-size: 20px;
}
.bulletin header{
  border-bottom: 1px solid #E1E1E1;
}
header ul > li {
  display: inline-block;
  font-size: 21px;
}
.bulletin ul > li > a {
  display: block;
  color: #333;
  font-family: 'Open Sans regular';
  text-decoration: none;
  padding: 5px 36px;
}
.bulletin ul > li > a.active{
  border-bottom: 3px solid #F9A000;
  color: #F9A000;
  font-family: 'Open Sans bold';
}
section ul {
  overflow: auto;
  height: calc(100vh - 224px);
  padding: 0;
  margin: 0;
}
section ul > li {
  display: block;
  margin-top: 20px;
  border-bottom: 1px solid #E1E1E1;
}
section li > div {
  font-size: 14px;
}
.summary {
  font-weight: bold;
  font-size: 18px;
}
.meetings > li > div {
  display: flex;
  margin: 0px 30px;
  align-items: center;
}
.meetings > li > div > div {
  min-width: 150px;
  flex: 1;
}
.meetings > li > div > div:nth-child(1) {
  text-align: left;
}
.meetings > li > div > div:nth-child(2) {
  text-align: right;
}
.meetings-summary {
  text-decoration: blink;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.meetings-location {
  font-size: 16px;
  color: grey;
}
.meetings-date {
  font-size: 14px;
}
.meetings-border {
  border: none;
  border-bottom: 3.5px solid;
  margin: 20px 0px 0px 0px;
}