body {
    color: white;
    font-family: 'Open Sans light';
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header {
    display: flex;
    height: 60px;
    margin-bottom: 36px;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
}
.middle-header {
    flex-grow: 1;
}
.header > div:first-child{
 	font-size: 35px;
    padding-top: 10px;
    padding-left: 8px;
}
.header > div:last-child {
 	font-size: 19px;
    font-family: 'Open Sans semibold';
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > div:last-child img {
    width: 37px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.35);
    border-radius: 26px;  
}
.main {
 	display: flex;
 	min-height: calc(100vh - 96px);
}
.main > div:first-child  {
 	width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main > div:nth-child(2)  {
 	width: 34%;
}
.main .opening {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.main .opening > div {
    max-width: 64%;
}
.main .notifications {
    width: 100%;
    height: 11%;
    background-color: rgba(0, 0, 0, 0.84);
}
.main .notifications .notif-icon {
    background: url("../images/notifications.png") center no-repeat;
    width: 60px;
    height: 60px;
}
.main .name {
    font-size: 77px;
    font-family: 'Open Sans regular';
}
.main .sentence {
    font-size: 42px;
}
.bulletin {
 	background-color: white;
}
.main .actions {
	display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 15px;
    list-style-type: none;
}
.main .actions > li {
 background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-right: 9px;
    padding: 38px 0px 10px 0px;
    border-bottom: 3px solid;
    width: 160px;
    margin-bottom: 10px;
}
.main .actions > li div {
    margin-top: 10px;
    font-size: 20px;
}
.bulletin ul{
    border-bottom: 1px solid #E1E1E1;
}
header ul>li {
    display: inline-block;
    font-size: 21px;
    padding: 0 36px 0 36px;
    margin-left: -4px;
}
.bulletin ul>li>a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0 5px 0;
}
.bulletin ul>li.active {
    border-bottom: 3px solid #F9A000;
    color: #F9A000;
}
.bulletin ul>li.active a{
    color: #F9A000;
    font-family: 'Open Sans semibold';
}
section ul>li {
    display: block;
}
section li>div {
    font-size: 14px;
}
.summary {
    font-weight: bold;
    font-size: 18px;
}
