label {
  font-weight: bold;
  font-size: 15px;
  display: block;
  padding-left: 16px;
  padding-top: 15px;
}
label span {
  display: inline-block;
  width: 50px;
}
label > label {
  font-size: 12px;
  padding-top: 5px;
}
input[type="text"], input[type="password"] {
  width: 250px;
}
#provider {
  margin-left: 25px;
}
#services {
  position: absolute;
  overflow: hidden;
}
ul {
  list-style-type: none;
}
.options .bulletin {
  width: 100%;
}
.options .bulletin ul > li > a{
  margin-top: 0;
}
.options .bulletin a:focus {
    outline:none;
}
.head{
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.rec {
 width: 20%;
 height: 117px;
 display: inline-block;
 border: 1px solid #D0D0D0;
 text-align: center;
 vertical-align: middle;
 line-height: 120px;
 margin: 20px 9px;
 font-size: 22px;
}
.recSelected {
  border: 1px solid #8DC63F;
  position: relative;
}
.recSelected img {
    background-color: #ACD373;
    padding: 5px;
    width: 24px;
    height: 24px;
    border-radius: 12px; 
    position: absolute;
    top: 4px;
    left: 4px;

}
.wrap {
  border-bottom: 1px solid rgba(204, 204, 204, 0.55);
  padding-bottom: 24px;
  padding: 10px;
}
.wrap h3{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}
.wrap span {
      color: #7C7878;
}
.wrap.last {
  border-bottom: none !important;
  padding-left: 27px;
}
.wrap.last h3 {
      font-weight: 700 !important;
    font-size: 16px;
}
.appRec {
 display: inline-block;
 border: 1px solid #d4cece;
 padding: 31px;
 margin: 6px 14px;
 background: url('../images/icons/waze.ico') no-repeat;
 background-size: 65%;
 background-position: 50%
}
.profile {
  display: flex;
  align-items: center;
}
.profile .close {
      color: #DCDCDC;
    font-size: 31px;
}
.profile img{
  width: 37px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.35);
  border-radius: 26px;
      margin: 0 6px;
}
.profile div {
  font-size: 19px;
  font-family: 'Open Sans semibold';
}
.hover {
  border: 3px dashed #6ea02b !important;
}

.noBorder {
  border:none !important;
}
.btns {
  border-top: 1px solid rgba(204, 204, 204, 0.55);
  display: flex;
  justify-content: space-between;
}
.save {
    margin: 14px 26px;
    background: #F9A000;
    border: none;
    padding: 9px 55px;
    font-size: 24px;
    color: white;
}

.reset {
  margin: 14px 26px;
  border: none;
 padding: 9px 55px;
 font-size: 24px;
 float: left;
 background: white;
 color: #A1A1A1;
}
.lang  {
  width: 190px;
  margin-top: 9px;
  padding: 9px;
  font-size: 28px;
  background: white;
}
.slct-lang label,.slct-lang select  {
  display: block;
  border: 1px solid #DADADA;
  font-size: 20px;
}
.modal-dialog {
    margin: 3% 55% !important;
    }