body {
  opacity: 0;
  color: white !important;
  font-family: 'Open Sans light';
  margin: 0;
  background-image: url("../images/whitebackground.jpg");
  background-blend-mode: multiply;
  transition-property: background, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.main {
  display: flex;
  min-height: calc(100vh - 96px);
}
.section {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bulletin  {
  background-color: rgba(255, 255, 255, 0.8);
  width: 34%;
}
.main .opening {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.main .opening > div {
  max-width: 80%;
}
.main .notifications {
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.8);
}
.main .notifications .notif-icon {
  background: url("../images/notifications.png") center no-repeat;
  width: 60px;
  height: 60px;
}
.main .name {
  font-size: 77px;
  font-family: 'Open Sans regular';
}
.main .sentence {
  font-size: 42px;
}
.main .actions {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-top: 15px;
  list-style-type: none;
}
.main .actions > li > a {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-right: 9px;
  padding: 38px 0px 10px 0px;
  border-bottom: 3px solid;
  width: 160px;
  margin-bottom: 10px;
  display: block;
  color: white;
  text-decoration: blink;
}
.main .actions > li > a > img {
  width: 50px;
  height: 50px;
}
.main .actions > li div {
  margin-top: 10px;
  font-size: 20px;
}
.bulletin nav ul {
  margin: 0;
  padding: 0 6%;
  display: flex;
}
.bulletin header {
  border-bottom: 1.5px solid #cccccc;
}
header ul > li {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
}
.bulletin ul > li > a {
  display: block;
  color: #333;
  font-family: Open Sans regular;
  text-decoration: none;
  padding: 15px 0;
  margin-top: 20px;
}
.bulletin ul > li > a.active {
  border-bottom: 3px solid #F9A000;
  color: #F9A000;
  font-weight: bold;
}
section ul {
  overflow: auto;
  height: calc(100vh - 224px);
  padding: 0;
  margin: 0;
}
section ul > li {
  display: block;
  margin-top: 25px;
  border-bottom: 1px solid #cccccc;
}
section li > div {
  font-size: 14px;
}
.summary {
  font-weight: bold;
  font-size: 18px;
}
.partition {
  flex-grow: 1;
  min-width: 10px;
}
.meetings > li > div, .projects > li > div, .tasks > li > div {
  display: flex;
  margin: 0px 35px;
  align-items: center;
}
.meetings-summary, .projects-summary, .tasks-summary {
  text-decoration: blink;
  color: black;
  font-weight: bold;
  font-size: 22px;
}
.task-star {
  -webkit-mask: url(/images/icon-star.svg) no-repeat;
  mask: url(/images/icon-star.svg) no-repeat;
  background-color: black;
  min-width: 17px;
  height: 20px;
  display: inline-block;
  margin: 3px;
}
[class^="task-status-"] {
  -webkit-mask: url(/images/icon-flag.svg) no-repeat;
  mask: url(/images/icon-flag.svg) no-repeat;
  min-width: 16px;
  height: 20px;
  display: inline-block;
  margin: 3px;
}
.task-status-new {
  background-color: #ff4081;
}
.task-status-in-progress {
  background-color: #f69679;
}
.task-status-rejected {
  background-color: #ef5350;
}
.task-status-review {
  background-color: #8dc63f;
}
.task-status-done {
  background-color: #598527;
}
.task-status-archived {
  background-color: #ab47bc;
}
.task-status-assigned {
  background-color: #2979ff;
}
.task-assign {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 3px;
  width: 80px;
  max-width: 80px;
  white-space: nowrap;
}
.meetings-location, .projects-location, .tasks-location {
  font-size: 16px;
  color: grey;
}
.meetings-date, .projects-date, .tasks-date {
  font-size: 18px;
  font-weight: bold;
}
.meetings-border, .projects-border, .tasks-border {
  border: none;
  border-bottom: 4px solid;
  margin: 20px 0px 0px 0px;
}
.meetings-attendees {
  flex-shrink: 0;
}
.meetings-attendees * {
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
}
.attendees {
  border-radius: 12.5px;
  margin: 1px;
}
.msg {
  padding: 4%;
}
.msg a {
  color: black;
  font-weight: bold;
}