<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles/options.css">
  </head>
  <body ng-app="app" ng-controller="optionsCtrl">
    <div ng-repeat="(name, service) in services">
      <h1>{{name}}</h1>
      <select ng-model="choosen[name].name">
        <option ng-repeat="(name, option) in service" value="{{name}}">{{name}}</option>
      </select>
      <div ng-show="choosen[name].name == 'custom'">
        <label>
          <span>url: </span>
          <input ng-model="choosen[name].url" type="text" />
        </label>
        <label>
          <span>email: </span>
          <input ng-model="choosen[name].email" type="text" />
        </label>
        <label>
          <span>pwd: </span>
          <input ng-model="choosen[name].password" type="password" />
        </label>
      </div>
    </div>
    <button ng-click="reset()">reset</button>
    <button ng-click="save()">save</button>
    <select ng-model="lang">
      <option ng-repeat="lang in langs" value="{{lang}}">{{lang}}</option>
    </select>
    <script src="lib/angular/angular.min.js"></script>
    <script src="scripts/options.js"></script>
    <script src="scripts/services.js"></script>
  </body>
</html>