<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Tab</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<link rel="stylesheet" type="text/css" href="lib/open-sans/css/open-sans.css" />
</head>
<body ng-app='app' ng-controller='icuCtrl'  ng-style="{'background-image': 'url(' + server + image + ')'}">
	<div class="header">
		<div>
			ME
		</div>
		<div class="middle-header"></div>
		<div ng-show="profile.name">
			<div class="profile-name">{{profile.name}}&nbsp;</div>
			<img class="profile-image" src="{{profile.image}}" />
		</div>
	</div>
	<div class="main">
		<div class="region">
			<div class="opening">
				<div>
				<div class="profile name" ng-show="profile.name">
					Hi, {{profile.name}}
				</div>
				<div class="sentence">
					What do you want to do now ?
				</div>

				<ul class="actions">
					<li class="new-meeting">
            <img src="images/icon-calendar.svg" />
            <div>new meeting</div>
					</li>
					<li class="new-task">
						<img src="images/icon-new-task.svg" />
						<div>new task</div>
				   </li>
					<li class="new-project">
						<img src="images/icon-new-project.svg" />
						<div>new project</div>
					</li>
				</ul>
			</div>
			</div>
			<div class="notifications">
				<div class="notif-icon"></div>
			</div>
	    </div>
		<div class="region bulletin">
			<header>
		    <nav>
		         <ul>
			        <li ng-repeat="tab in tabs" ng-click="select($index)" ng-class="{active: $index == selected}">
			            <a href="#" title="{{tab.title}}">{{tab.title}}</a>
			        </li>
			    </ul>
		    </nav>
			</header>
			<section>
				<ul ng-repeat="tab in tabs" ng-show="$index == selected">
					<li ng-repeat="item in tab.items" style="color:black">
					<hr>
						<div>
							<div>{{item.start.dateTime | date: 'H:mm'}} - {{item.end.dateTime | date: 'H:mm'}}</div>
							<div class="summary"> {{item.summary}}</div>
							<div>{{item.location}}</div>
							<div><a href="mailto:{{item.creator.email}}">{{item.creator.displayName || item.creator.email}}</a></div>
						</div>
					</li>
				</ul>
			</section>
		</div>
		<div class="region">
		</div>
	</div>
  <script type="text/javascript" src="lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>
