<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Tab</title>
  <link rel="stylesheet" type="text/css" href="styles/header.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="lib/open-sans/css/open-sans.css" />
</head>
<body ng-app="app" ng-controller="icuCtrl">
  <div class="header">
    <div id="left-bar">
      <div class="header"></div>
      <select>
        <option>/api/projects</option>
        <option>/api/circles</option>
      </select>
    </div>
    <div id="toggle-left-bar">
      ME
    </div>
    <div class="middle-header"></div>
    <div ng-show="profile.name">
      <div>{{profile.name}}&nbsp;</div>
      <img src="{{profile.image}}" />
    </div>
  </div>
  <div class="main">
    <div class="section">
      <div class="opening">
        <div ng-show="profile.name">
          <div class="name">
            Hi, {{profile.name}}
          </div>
          <div class="sentence">
            What do you want to do now ?
          </div>
          <ul class="actions">
            <li class="new-meeting">
              <img src="images/icon-calendar.svg" />
              <div>new meeting</div>
            </li>
            <li class="new-task">
              <img src="images/icon-new-task.svg" />
              <div>new task</div>
             </li>
            <li class="new-project">
              <img src="images/icon-new-project.svg" />
              <div>new project</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="notifications">
        <div class="notif-icon"></div>
      </div>
      </div>
    <div class="bulletin">
      <header>
        <nav>
          <ul>
            <li ng-repeat="tab in tabs" ng-click="select($index)" ng-class="{active: $index == selected}">
              <a href="#" title="{{tab.title}}">{{tab.title}}</a>
            </li>
          </ul>
        </nav>
      </header>
      <section>
        <ul ng-repeat="tab in tabs" ng-show="$index == selected" class="{{tab.title}}">
          <li ng-repeat="item in tab.items" style="color:black">
            <div>
              <a class="meetings-summary" href="{{item.htmlLink}}"><div>{{item.summary}}</div></a>
              <div class="meetings-date">
                {{item.start.dateTime | date: 'H:mm'}}-{{item.end.dateTime | date: 'H:mm'}}
                <span>{{getDist(item.start.dateTime, item.end.dateTime)}}</span>
              </div>
            </div>
            <div>
              <div class="meetings-location">{{item.location}}</div>
              <div class="meetings-email">
                <a href="mailto:{{item.creator.email}}">{{item.creator.displayName || item.creator.email}}</a>
              </div>
            </div>
            <hr class="meetings-border" ng-style="closeMeets(item.start.dateTime)">
          </li>
        </ul>
      </section>
    </div>
    <div class="">
    </div>
  </div>
  <script src="lib/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/bar.js"></script>
</body>
</html>
