<!DOCTYPE html>
<html ng-app="app" ng-controller="icuCtrl" lang="{{selected.lang}}" dir="{{locale.ltr}}" ng-cloak>
<head>
  <meta charset="UTF-8">
  <title>{{locale['new tab'] | camelcase}}</title>
  <link rel="stylesheet" type="text/css" href="styles/header.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/apps.css" />
  <link rel="stylesheet" type="text/css" href="lib/open-sans/css/open-sans.css" />
</head>
<body>
  <div class="header">
    <div>
      <a id="toggle-options" href="options.html" title="ME options">
        {{locale.me | uppercase}}
      </a>
    </div>
    <div class="middle-header"></div>
    <div ng-show="profile.name">
      <div>{{profile.name}}&nbsp;</div>
      <img src="{{profile.image}}" />
    </div>
  </div>
  <div class="main">
    <div class="section">
      <div class="opening">
        <div ng-show="profile.name">
          <div class="name">
            {{locale.hi | caps}}, {{profile.name}}
          </div>
          <div class="sentence">
            {{locale['what do you want to do now ?'] | caps}}
          </div>
          <ul class="actions">
            <li class="new-meeting">
              <a href="https://calendar.google.com">
                <img src="images/icon-calendar.svg" />
                <div>new meeting</div>
              </a>
            </li>
            <li class="new-task">
              <a href="http://root.hrm.demo.linnovate.net/tasks">
                <img src="images/icon-new-task.svg" />
                <div>tasks</div>
              </a>
             </li>
            <li class="new-project">
              <a href="http://root.hrm.demo.linnovate.net/projects">
                <img src="images/icon-new-project.svg" />
                <div>projects</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="notifications">
        <div class="notif-icon"></div>
      </div>
      </div>
    <div class="bulletin">
      <header>
        <nav>
          <ul>
            <li ng-repeat="(name, tab) in tabs" ng-click="activate(name)">
              <a href="#" title="{{tab.title}}" ng-class="{active: name == active}">{{tab.title}}</a>
            </li>
          </ul>
        </nav>
      </header>
      <section>
        <ul ng-show="active == 'meetings'" class="meetings">
          <li ng-repeat="item in tabs.meetings.items | filter:meetsDist" style="color:black">
            <div>
              <a class="meetings-summary" href="{{item.htmlLink}}">{{item.summary}}</a>
              <div class="partition"></div>
              <div class="meetings-date">
                {{item.start.dateTime | date: 'H:mm'}}-{{item.end.dateTime | date: 'H:mm'}}{{item.style.text}}
              </div>
            </div>
            <div>
              <div class="meetings-location">{{item.location}}</div>
              <div class="partition"></div>
              <div class="meetings-attendees">
                <img ng-repeat="atd in item.attendees | limitTo : 3" class="attendees" title="{{atd.title || atd.displayName || atd.email}}" src="{{atd.photo || 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=25'}}" />
                <span ng-show="item.attendees.length > 3">+{{item.attendees.length - 3}}</span>
              </div>
            </div>
            <hr class="meetings-border" ng-style="{ color: item.style.color, width: item.style.width }">
          </li>
        </ul>
        <ul ng-show="active == 'tasks'" class="tasks">
          <li ng-repeat="item in tabs.tasks.items" style="color:black">
            <div>
              <a class="tasks-summary" href="{{choosen.projects.url}}/tasks/all/{{item.id}}/activities">{{item.title}}</a>
              <div class="partition"></div>
              <div class="tasks-date">
                {{item.updated | date: 'H:mm dd/MM/yy'}}
              </div>
            </div>
            <div>
              <div class="tasks-location"></div>
              <div class="partition"></div>
              <div class="tasks-email">
                <a href="mailto:{{users[item.creator].email}}">{{users[item.creator].name || users[item.creator].email}}</a>
              </div>
            </div>
            <hr class="tasks-border" style="color: #{{item.color}};">
          </li>
        </ul>
        <ul ng-show="active == 'projects'" class="projects">
          <li ng-repeat="item in tabs.projects.items" style="color:black">
            <div>
              <a class="projects-summary" href="{{choosen.projects.url}}/projects/all/{{item.id}}/activities">{{item.title}}</a>
              <div class="partition"></div>
              <div class="projects-date">
                {{item.updated | date: 'H:mm dd/MM/yy'}}
              </div>
            </div>
            <div>
              <div class="projects-location"></div>
              <div class="partition"></div>
              <div class="projects-email">
                <a href="mailto:{{users[item.creator].email}}">{{users[item.creator].name || users[item.creator].email}}</a>
              </div>
            </div>
            <hr class="projects-border" style="color: #{{item.color}};">
          </li>
        </ul>
      </section>
    </div>
    <div class="apps">
      <a ng-repeat="app in selected.apps" href="{{}}"></a>
<!--       <a href="https://drive.google.com/" class="google drive"></a>
      <a href="https://www.youtube.com/" class="google youtube"></a>
      <a href="https://mail.google.com/" class="google gmail"></a>
      <a href="https://www.google.com/" class="google search"></a>
      <a href="https://calendar.google.com/" class="google calendar"></a> -->
    </div>
  </div>
  <script src="lib/angular/angular.min.js"></script>
  <script src="config/locale.js"></script>
  <script src="config/defaults.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/services.js"></script>
</body>
</html>
